/************************/
/*** UGLY CSS IS UGLY ***/
/************************/
@import url(https://fonts.googleapis.com/css?family=Raleway);

#minefield {
	line-height:0;
	border-spacing:0;
	border: 5px solid #CCC;
	margin: 0 auto;
	top: 50%;
}

#minefield td {
	padding:0
}

#easy {
	color: #aed34b;
}

#medium {
	color: #41ace9;
}

#hard {
	color: #c54274;
}

p#easy, p#medium, p#hard {
	cursor: pointer;
	text-decoration: underline;
}

@media(max-width:1200px){
	#buttons {
		margin-top: 20px;
	}
}


/*****************/
/*** OVERIDDEN ***/
/*****************/
 html, body {
	margin: 0;
	font-family: Raleway, Verdana, Geneva, sans-serif;
	min-height: 100%;
	width: 100%;
}
