/************************/
/*** UGLY CSS IS UGLY ***/
/************************/
@import url(https://fonts.googleapis.com/css?family=Raleway);

#minefield {
	line-height:0;
	border-spacing:0;
	border: 5px solid #CCC;
	margin: 0 auto;
	top: 50%;
}

#minefield td {
	padding:0
}

#easy {
	color: #41ace9;
	border-bottom: 3px solid #41ace9;
	cursor: pointer;
}

#medium {
	color: #aed34b;
	border-bottom: 3px solid #aed34b;
	cursor: pointer;
}

#hard {
	color: #c54274;
	border-bottom: 3px solid #c54274;
	cursor: pointer;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-) */
  display: flex;
  align-items: center;
}

/*****************/
/*** OVERIDDEN ***/
/*****************/
 html, body {
	margin: 0;
	font-family: Raleway, Verdana, Geneva, sans-serif;
	min-height: 100%;
	width: 100%;
}

#container{
	margin: 0 auto;
	width: 80%;
	text-align:center;
}

h1{
	font-size: 36pt;

}

#footer{
	text-align: center;

}

#board{

}

